<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="pull-left">
                                Click Map to Add Marker
                            </h4>
                            <button class="btn btn-success pull-right"
                                ng-click="vm.exportMap()">
                                Export
                            </button>
                            <button class="btn btn-danger pull-right"
                                download
                                ng-click="vm.popMarker()">
                                Delete Last Marker
                            </button>
                            <div class="clearfix">
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <ng-map
                                    center="{{ vm.jktGeoLocation }}"
                                    on-click="vm.pushMarker()">
                                    <marker
                                        ng-repeat="marker in vm.markers"
                                        position="{{marker.lat}}, {{marker.lng}}">
                                    </marker>
                                    <directions
                                        ng-if="vm.origin !== ''"
                                        draggable="true"
                                        provide-route-alternatives="true"
                                        panel="directions-panel"
                                        suppress-markers="true"
                                        travel-mode="DRIVING"
                                        waypoints="{{ vm.wayPoints }}"
                                        origin="{{ vm.origin }}"
                                        destination="{{ vm.destination }}">
                                    </directions>
                                </ng-map>
                            </div>
                            <div class="column small-12 text-center" ng-show="vm.isLoading">
							    <br/>
                                <i class="fa fa-spinner fa-spin fa-4x"></i>
                                <div><label>Loading...</label></div>
						    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>